.popup__button-close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-size: 32px;
    background-image: url(../../../images/button-close.svg);
    background-repeat: no-repeat;
    object-fit: scale-down;
    border: none;
    cursor: pointer;
    transition: opacity .5s;
    padding: 0;
    align-self: flex-end;
    margin-right: calc(50vw - 255px);
    margin-bottom: 8px;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px){
    .popup__button-close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        margin-right: calc(50vw - 141px);
        margin-bottom: 16px;
    }
}